<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha de Registro</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto in productos">
                <th scope="row">producto.id</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            
        </tbody>
    </table>
</div>
