<div class="container">
    <div class="row text-center mt-5 mb-5">
      <h1>{{titulo}}</h1>
    </div>
    <div *ngIf="!conDatos" class=" alert alert-danger rounded-3">{{errorConexion}}</div>
    <table *ngIf="conDatos" class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Código</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha de Registro</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{producto.id}}</td>
                <td>{{producto.codigoProducto}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.fechaRegistro}}</td>
            </tr>
        </tbody>
      </table>
</div>
